.photo-grid{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, 284px);
    justify-content: center;
    grid-auto-flow: row;
    gap: 16px;
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .photo-grid{
        grid-template-columns: repeat(auto-fit, 300px);
        gap: 14px;
    }
}


@media (max-width: 767px) {
    .photo-grid{
        grid-template-columns: repeat(auto-fit, 288px);
        gap: 14px;
    }
}