.lead__title{
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    /* or 104% */
    text-align: center;
    color: #FFFFFF;
    margin: auto;
    width: 720px;
}

@media screen and (max-width: 767px){
    .lead__title{
        font-size: 40px;
        line-height: 44px;
        width: 288px;
    }
}