.cover__overlay{
    display: grid;
    justify-content: center;
    z-index: 1;
    grid-row: 1;
    grid-column: 1;
    justify-self: stretch;
    align-self: stretch;
    text-decoration: none;
    box-shadow: 0 0 0 372px rgba(42, 44, 47, 0.3) inset;
    align-content: end;
}

.cover__overlay:hover{
    box-shadow: 0 0 0 372px rgba(42, 44, 47, 0.8) inset;
}